.button {
    background: orange;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 1.5em;
    height: 65px;
    letter-spacing: 0.2px;
    line-height: 65px;
    text-align: center;
    text-transform: uppercase;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 170px;
}

.button:hover {
    background: #ec303b;
}

.button:active {
    box-shadow: inset 0px 2px 8px -1px #d71e33;
}

.fancy-button {
    margin: auto;
    position: relative;
}

.frills,
.frills:after,
.frills:before {
    position: absolute;
    background: #eb1f48;
    border-radius: 4px;
    height: 8px;
}

.frills:after,
.frills:before {
    content: "";
    display: block;
}

.frills:before {
    bottom: 45px;
}

.frills:after {
    top: 45px;
}

.left-frills {
    right: 164px;
    top: 28.5px;
}

.active .left-frills {
    -webkit-animation: move-left 0.38s ease-out, width-to-zero 0.38s ease-out;
    animation: move-left 0.38s ease-out, width-to-zero 0.38s ease-out;
}

.left-frills:before,
.left-frills:after {
    left: 15px;
}

.active .left-frills:before {
    -webkit-animation: width-to-zero 0.38s ease-out, move-up 0.38s ease-out;
    animation: width-to-zero 0.38s ease-out, move-up 0.38s ease-out;
}

.active .left-frills:after {
    -webkit-animation: width-to-zero 0.38s ease-out, move-down 0.38s ease-out;
    animation: width-to-zero 0.38s ease-out, move-down 0.38s ease-out;
}

.right-frills {
    left: 164px;
    top: 28.5px;
}

.active .right-frills {
    -webkit-animation: move-right 0.38s ease-out, width-to-zero 0.38s ease-out;
    animation: move-right 0.38s ease-out, width-to-zero 0.38s ease-out;
}

.right-frills:before,
.right-frills:after {
    right: 15px;
}

.active .right-frills:before {
    -webkit-animation: width-to-zero 0.38s ease-out, move-up 0.38s ease-out;
    animation: width-to-zero 0.38s ease-out, move-up 0.38s ease-out;
}

.active .right-frills:after {
    -webkit-animation: width-to-zero 0.38s ease-out, move-down 0.38s ease-out;
    animation: width-to-zero 0.38s ease-out, move-down 0.38s ease-out;
}

.left-frills:before,
.right-frills:after {
    transform: rotate(34deg);
}

.left-frills:after,
.right-frills:before {
    transform: rotate(-34deg);
}

@-webkit-keyframes move-left {
    0% {
        transform: none;
    }

    65% {
        transform: translateX(-80px);
    }

    100% {
        transform: translateX(-80px);
    }
}

@keyframes move-left {
    0% {
        transform: none;
    }

    65% {
        transform: translateX(-80px);
    }

    100% {
        transform: translateX(-80px);
    }
}

@-webkit-keyframes move-right {
    0% {
        transform: none;
    }

    65% {
        transform: translateX(80px);
    }

    100% {
        transform: translateX(80px);
    }
}

@keyframes move-right {
    0% {
        transform: none;
    }

    65% {
        transform: translateX(80px);
    }

    100% {
        transform: translateX(80px);
    }
}

@-webkit-keyframes width-to-zero {
    0% {
        width: 38px;
    }

    100% {
        width: 8px;
    }
}

@keyframes width-to-zero {
    0% {
        width: 38px;
    }

    100% {
        width: 8px;
    }
}

@-webkit-keyframes move-up {
    100% {
        bottom: 69.75px;
    }
}

@keyframes move-up {
    100% {
        bottom: 69.75px;
    }
}

@-webkit-keyframes move-down {
    100% {
        top: 69.75px;
    }
}

@keyframes move-down {
    100% {
        top: 69.75px;
    }
}

@media only screen and (max-width: 700px) and (min-width: 0px) {
    .button {
        background: #ec303b;
    }

    .button:hover {
        background: orange;
    }

    .button:active {
        box-shadow: inset 0px 2px 8px -1px  background: #ff9e01;;
    }
    .frills,
    .frills:after,
    .frills:before {
        background: orange;
    }
}